<div class="container d-flex flex-column">
  <div
    class="footer mt-auto py-3"
    style="position: absolute; width: 85%; bottom:0"
  >
    <div class="copyright d-flex justify-content-between align-items-center">
      <p class="">&copy;All Rights Reserved-2024</p>
      <a href="/" class="">Design and Developed by L</a>
    </div>
  </div>
</div>
