<nav class="navbar navbar-expand-lg bg-light">
  <div class="container text-black">
    <a
      class="navbar-brand"
      style="
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      "
      href="/"
      >Blogify</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse position-relative"
      id="navbarNavDropdown"
    >
      <ul class="navbar-nav">
        <div class="left-nav-items d-flex">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <% if (locals.user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/blog/add-new-blog">Add blog</a>
          </li>
        </div>
        <div class="right-nav-items d-flex position-absolute top-0 end-0">
          <li class="nav-item dropdown d-flex align-items-center">
            <img
              src="<%= locals.user.profileImage %>"
              alt="user"
              class="border"
              style="
                border-radius: 50%;
                height: 30px;
                width: 30px;
                color: #dbd400;
              "
            />
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <%= locals.user.role %>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
            </ul>
          </li>
          <% } else {%>
          <li class="nav-item">
            <a class="nav-link active" href="/user/signup">Create Account</a>
          </li>
          <li class="nav-item position-absolute top-0 end-0">
            <a class="nav-link active fw-bold" href="/user/signin"
              >Signin<svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                viewBox="0 0 24 24"
              >
                <path
                  fill="#666"
                  d="M6 20h12V10H6zm6-7c1.1 0 2 .9 2 2s-.9 2-2 2s-2-.9-2-2s.9-2 2-2"
                  opacity="0.3"
                />
                <path
                  fill="#666"
                  d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2M9 6c0-1.66 1.34-3 3-3s3 1.34 3 3v2H9zm9 14H6V10h12zm-6-3c1.1 0 2-.9 2-2s-.9-2-2-2s-2 .9-2 2s.9 2 2 2"
                />
              </svg>
              </a
            >
          </li>

          <% } %>
        </div>
      </ul>
    </div>
  </div>
</nav>

<% if (locals.error) { %>
<div class="container mt-4">
  <div class="alert alert-danger" role="alert"><%= locals.error %></div>
</div>
<% } %>
