<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <div
      class="container mt-4 d-flex flex-column justify-content-center align-items-center"
      style="height: 85vh"
    >
      <h2 class="mb-4 fw-semibold">Login</h2>
      <form action="/user/signin" method="post" style="width: 20vw">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            name="email"
            aria-describedby="emailHelp"
            placeholder="example@gmail.com"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            id="exampleInputPassword1"
            placeholder="password"
          />
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
      </form>
    </div>
    <%- include('./partials/footer') %>

    <%- include('./partials/script') %>
  </body>
</html>
